@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.mainDiv {
  margin-bottom: 15px;
}

.mainHeader {
  text-decoration: underline;
  font-size: 8vw;
}

